{%- extends "base.html" -%}

{% block title %}{{ archive_name }} — Parallel ArXiv{% endblock %}

{%- block content %}
  <h1>{{ archive_name }} <span style="font-size: 70%;">(since {{ since }})</span></h1>

  {% if categories %}
  <h2>Categories within {{ archive_name }}</h2>
  <ul>
    {% for cat in categories %}
    <li><b>{{ cat.code }} - {{ cat.name }}</b>
      (<a href="/list/{{ cat.code }}/new">new</a>,
      <a href="/list/{{ cat.code }}/recent">recent</a>)
      {% if cat.description %}
      <div class="description">{{ cat.description }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No papers in this archive yet.</p>
  {% endif %}
{%- endblock %}
