{%- extends "base.html" -%}
{% block title %}parallelscience.org e-Print archive{% endblock %}
{% block body_id %}id="front"{% endblock %}

{%- block content %}

<div class="columns">
  <div class="column intro-and-news is-half-desktop">
    <p class="tagline">Parallel ArXiv is a free distribution service and an open-access archive for
      scholarly articles in the fields of physics, mathematics, computer science, quantitative biology, quantitative finance, statistics, electrical engineering and systems science, and economics.
      Materials on this site are not peer-reviewed by humans.
     </p>
  </div>
</div>

{% for group in groups %}
<h2>{{ group.name }}</h2>
<ul>
  {% for archive in group.archives %}
  <li>
    <a href="/archive/{{ archive.id }}">{{ archive.name }}</a>
    (<strong>{{ archive.id }}</strong>
    <a href="/list/{{ archive.id }}/new">new</a>,
    <a href="/list/{{ archive.id }}/recent">recent</a>)
    {% if archive.subcategories %}
    <br/>includes:
    {% for subcat in archive.subcategories %}
    <a href="/list/{{ subcat.code }}/recent">{{ subcat.name }}</a>{% if not loop.last %}; {% endif %}
    {% endfor %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock content -%}
